<body>
    <div class="section" id="section1">
        <h1>Hallo! Ik ben Merijn,</h1><br><br>
        <h2>een vierdejaars student Software Development aan het ROC Nijmegen. Ik ben een sportieve en sociale jongen
            die graag samenwerkt met anderen, maar ik kan ook goed zelfstandig werken. Mijn passie binnen de software
            ligt voornamelijk bij web development, waar ik het liefst werk met frameworks zoals Angular.
            Ik heb ervaring met verschillende programmeertalen en tools, waaronder HTML, CSS, JavaScript, PHP, Java,
            C#,
            Laravel, Angular, NestJS, en SQL. Daarnaast ben ik bekend met het gebruik van Git, Trello, Bitbucket en de
            Agile en SCRUM methodieken.
        </h2><br><br>
        <h2>
            Naast mijn studie en werk heb ik een aantal hobby's die me helpen om een goede balans te vinden tussen werk
            en ontspanning. Ik hou van fietsen, programmeren, gamen, pc’s monteren, muziek maken (ik speel drum),
            fotografie, en van de natuur.
        </h2><br> <br><br>
        <h2>
            Op deze website vind je meer informatie over mijn projecten, vaardigheden en ervaringen. Aarzel niet om
            contact op te nemen als je denkt dat we iets voor elkaar kunnen betekenen!
        </h2>



    </div>
    <div class="section" id="section2">

        <h1>Bedrijven waarvoor ik heb gewerkt:
        </h1>
        <div id="bedrijvenbar">
            <div class="unselectable container info" *ngFor="let werkgever of werkgevers; let i = index">
                <div class="image-wrapper">
                    <img height="125px" [src]="werkgever.img">
                </div>
                <div class="text-wrapper">
                    <span class="infotext">{{werkgever.text}}</span>
                </div>
            </div>
        </div>



    </div>

</body>