<body>
    <div class="section" id="section1">
        <h2>Hoi, ik ben</h2><br><br>
        <h1 id="titel">Merijn Koppes</h1>
        <h2>een vierdejaars student Software Development aan het ROC Nijmegen. Ik ben een sportieve en sociale jongen
            die graag samenwerkt met anderen, maar ik kan ook goed zelfstandig werken. Mijn passie binnen de software
            ligt voornamelijk bij web development, waar ik het liefst werk met frameworks zoals Angular of NuxtJs.
            Ik heb ervaring met verschillende programmeertalen en tools, waaronder HTML, CSS, JavaScript, PHP, Java,
            C#, Laravel, Angular, NuxtJs, NestJS, en SQL. Daarnaast ben ik bekend met het gebruik van Git, Trello,
            Bitbucket en de
            Agile en SCRUM methodieken.
            <!-- </h2><br><br>

        <h2> -->
            Op deze website vind je meer informatie over mijn projecten, vaardigheden en ervaringen. Aarzel niet om
            contact op te nemen als je denkt dat we iets voor elkaar kunnen betekenen!
        </h2>



    </div>
    <!-- <hr> -->

    <div class="section" id="section2">
        <h1>Projecten waar ik aan heb gewerkt
        </h1>
        <app-card *ngFor="let project of projecten; let i = index" [img]="project.img" [text]="project.text"
            [link]="project.link" [titel]="project.titel"></app-card>
    </div>
    <!-- <hr> -->
    <div class="section" id="section3">

        <h1>Bedrijven waarvoor ik heb gewerkt
        </h1>
        <div id="bedrijvenbar">
            <div class="unselectable container info" *ngFor="let werkgever of werkgevers; let i = index">
                <div class="image-wrapper">
                    <img height="125px" [src]="werkgever.img">
                </div>
                <div class="text-wrapper">
                    <span class="infotext">{{werkgever.text}}</span>
                </div>
            </div>
        </div>


    </div>

    <!-- <hr> -->
</body>