<footer>
    <div id="linkscontainer">
        <div>
            <!-- <h2>Volg mij op</h2> -->
            <a class="unselectable" href="https://github.com/merijnkoppes" target="_blank"><img height="70px"
                    src="https://firebasestorage.googleapis.com/v0/b/portfolio-e9a65.appspot.com/o/icons%2Fgithub-logo-git-hub-icon-with-text-on-white-and-black-background-free-vector.png?alt=media&token=fcfe0459-346d-4854-bc83-d89448975e8f"></a>
            <div>

            </div>
        </div>
        <div id="right">

            <p class="unselectable">&copy; {{currentYear}} Merijn Koppes. All rights reserved.</p>
        </div>
    </div>


</footer>