<footer>
    <div id="linkscontainer">
        <div>
            <!-- <h2>Volg mij op</h2> -->
            <a class="unselectable" href="https://github.com/merijnkoppes"><img height="70px"
                    src="github-logo-git-hub-icon-with-text-on-white-and-black-background-free-vector.png"></a>
            <a class="unselectable" href="https://www.instagram.com/merijn.koppes/"><img height="70px"
                    src="instagramicon.png"></a>
            <div>

            </div>
        </div>
        <div id="right">

            <p class="unselectable">&copy; 2024 Merijn Koppes. All rights reserved.</p>
        </div>
    </div>

</footer>