footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: white;
  padding: 10px 0;
  margin-top: 150px;
  font-size: 20px;
}

#linkscontainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-around;
  & #contact {
    display: flex;
    flex-direction: column;
  }
  & #socials {
  }
  display: flex;
  & div div {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  & div a {
    margin: 10px;
  }
}

svg {
  animation: moveWave 5s ease-in-out infinite;
  bottom: -50px !important;
}

.wave {
  transform-origin: bottom;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wave1 {
  animation: growShrink1 5s infinite ease-in-out alternate;
}

.wave2 {
  animation: growShrink2 7s infinite ease-in-out alternate;
}

.wave3 {
  animation: growShrink3 6s infinite ease-in-out alternate;
}

.wave4 {
  animation: growShrink4 8s infinite ease-in-out alternate;
}

.wave5 {
  animation: growShrink5 6.5s infinite ease-in-out alternate;
}

.wave6 {
  animation: growShrink6 7.5s infinite ease-in-out alternate;
}

@keyframes growShrink1 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.05);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growShrink2 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.07);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growShrink3 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.03);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growShrink4 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.08);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growShrink5 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.04);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growShrink6 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.06);
  }
  100% {
    transform: scaleY(1);
  }
}
